<article class="post">
  <div>
    <p class="title">
      {{title}}
    </p>
    <p>{{post_text}}</p>
  </div>
  <div class="meta">
    by
    {{user.username}}
    on
    {{format_date created_at}}
  </div>
</article>